@if (Request.IsAuthenticated) {
    <text>
        <h4>Hey, @Html.ActionLink(User.Identity.Name, "Manage", "account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })! <a class="button" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></h4>
        @using (Html.BeginForm("LogOff", "account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
        }
    </text>
} else {
    <ul>
        <li>@Html.ActionLink("Register", "register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
