@{
    ViewBag.Title = "Yearnly";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Welcome to Yearnly!
            </p>
            <h5>Your Id is @ViewBag.UserId</h5>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
        Create A List
        <a href="/list/new">Learn more…</a>
    </li>

    <li class="two">
        <h5>Start Yearnin'</h5>
        It's easy to add things to your list and share them around.
        <a href="#">Learn more…</a>
    </li>

</ol>
